@import '../../variables';
@import '../../mixins';

.transition{
    @include backgroundModal;
    &__modal{
        display: display;
        width: 300px;
        height: 170px;
        @include ModalWindow;
        background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
        box-shadow: 5px 10px 5px 3px #b5b59b;
        z-index: 2;
        &__wrapper{
            position: relative;
            width: 100%;
            margin-top: 40px;
        }
        
    }
}

.active{
    display: block;
}