@import '../../variables';
@import '../../mixins';

.modification-email-and-password{
    width: 600px;
    margin: 7px auto;
    &__title{
        margin: 5px 0 15px 0;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
    &__email{
        background-color: rgba(254, 249, 199, .3);
        padding: 20px 0;
        margin-top: 20px;
    }
    &__password{
        background-color: rgba(254, 249, 199, .3);
        margin-top: 20px;
        padding: 20px 0;
    }
    &__input{
        @include input;
        &_password{
            @include input;
            padding: 3px 46px 3px 10px;
        }
        &_show{
            position: absolute;
            right: 5px;
            top: -6px;
        }
    }
    &__message{
        margin-top: 5px;
        width: 100%;
        text-align: center; 
        & span{
            font-weight: 600;
        }
    }
    &__warning{
        margin-left: 270px;
        font-size: 10px;
        margin-top: 5px;
        height: 15px;
    }
    &__btns{
        &__wrapper{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            margin-top: 20px;
            @include inputButton;
            width: 80%;
        }
    }
    &__external-block{
        &__wrapper-input{
            position: relative;
        }
        &__label{
            margin: 10px;
            color: $main-color;
            font-size: 17px;
            font-weight: 600;
            display: inline-block;
            width: 250px;
            text-align: end;
        }
        &__btn{
            @include btnMini;
            border-color: $main-color-light;
            &:hover{
                border: 2px solid $main-color-light;
                background: $background-color;
            }
        }
    }
    &__modal-successfully{
        @include backgroundModal;
        &__window{
            position: relative;
            width: 300px;
            height: 170px;
            @include ModalWindow;
            background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
            box-shadow: 5px 10px 5px 3px #b5b59b;
            z-index: 2;
            &__close{
                position: absolute;
                right: 10px;
            }
            &__message{
                text-align: center;
                margin-top: 65px;
                font-size: 17px;
            }
        }
    }
}