@import '../../variables';
@import '../../mixins';

.modification-email-and-password{
    width: 55%;
    margin: 7px auto;
    &__title{
        margin: 5px 0 15px 0;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
    &__email{
        box-shadow: -1px 1px 1px 1px $secondary-color-light;
        border-radius: 15px;
        padding: 20px 0;
        margin-top: 20px;
    }
    &__password{
        box-shadow: -1px 1px 1px 1px $secondary-color-light;
        border-radius: 15px;
        margin-top: 20px;
        padding: 20px 0;
    }
    &__input{
        @include input;
        &_password{
            @include input;
            padding: 3px 46px 3px 10px;
        }
        &_show{
            position: absolute;
            right: 5px;
            top: -6px;
        }
    }
    &__message{
        margin-top: 5px;
        width: 100%;
        text-align: center; 
        & span{
            font-weight: 600;
        }
    }
    &__warning{
        margin-left: 270px;
        font-size: 10px;
        margin-top: 5px;
        height: 15px;
    }
    &__btns{
        &__wrapper{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            margin-top: 20px;
            @include inputButton;
            width: 80%;
        }
    }
    &__external-block{
        &__wrapper-input{
            position: relative;
        }
        &__label{
            margin: 10px;
            color: $main-color;
            font-size: 17px;
            font-weight: 600;
            display: inline-block;
            width: 250px;
            text-align: end;
        }
        &__btn{
            @include btnMini;
            border-color: $main-color-light;
            &:hover{
                border: 2px solid $main-color-light;
                background: $background-color;
            }
        }
    }
    &__modal-successfully{
        @include backgroundModal;
        &__window{
            position: relative;
            width: 300px;
            height: 170px;
            @include ModalWindow;
            background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
            box-shadow: 5px 10px 5px 3px #b5b59b;
            z-index: 2;
            &__close{
                position: absolute;
                right: 10px;
            }
            &__message{
                text-align: center;
                margin-top: 65px;
                font-size: 17px;
            }
        }
    }
}


@media (max-width: 1200px){
    .modification-email-and-password{
        &__title{
            font-size: 25px;
        }
        &__input{
            @include input;
            width: 300px;
            &_password{
                @include input;
                width: 300px;
                padding: 3px 46px 3px 10px;
            }
        }
        &__warning{
            margin-left: 245px;
        }
        &__external-block{
            &__label{
                width: 220px;
            }
        }
        &__modal-successfully{
            @include backgroundModal;
            &__window{
                position: relative;
                width: 300px;
                height: 170px;
                @include ModalWindow;
                background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
                box-shadow: 5px 10px 5px 3px #b5b59b;
                z-index: 2;
                &__close{
                    position: absolute;
                    right: 10px;
                }
                &__message{
                    text-align: center;
                    margin-top: 65px;
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 992px){
    .modification-email-and-password{
        width: 70%;
        &__title{
            font-size: 25px;
        }
        &__input{
            @include input;
            width: 300px;
            &_password{
                @include input;
                width: 300px;
                padding: 3px 46px 3px 10px;
            }
        }
        &__warning{
            margin-left: 225px;
            line-height: 1;
        }
        &__message{
            font-size: 15px;
        }
        &__external-block{
            &__label{
                width: 200px;
                font-size: 16px;
            }
        }
        &__modal-successfully{
            @include backgroundModal;
            &__window{
                position: relative;
                width: 300px;
                height: 170px;
                @include ModalWindow;
                background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
                box-shadow: 5px 10px 5px 3px #b5b59b;
                z-index: 2;
                &__close{
                    position: absolute;
                    right: 10px;
                }
                &__message{
                    text-align: center;
                    margin-top: 65px;
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .modification-email-and-password{
        width: 70%;
        &__title{
            font-size: 25px;
        }
        &__input{
            @include input;
            width: 300px;
            display: block;
            margin: 0 auto;
            &_password{
                @include input;
                width: 300px;
                padding: 3px 46px 3px 10px;
                display: block;
                margin: 0 auto;
            }
            &_show{
                position: absolute;
                right: 75px;
                top: 38px;
            }
        }
        &__warning{
            margin-left: 58px;
            line-height: 1;
        }
        &__message{
            font-size: 15px;
        }
        &__external-block{
            margin: 15px 0;
            &__label{
                width: 100%;
                font-size: 16px;
                text-align: center
            }
            &__btn{
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__modal-successfully{
            @include backgroundModal;
            &__window{
                position: relative;
                width: 300px;
                height: 170px;
                @include ModalWindow;
                background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
                box-shadow: 5px 10px 5px 3px #b5b59b;
                z-index: 2;
                &__close{
                    position: absolute;
                    right: 10px;
                }
                &__message{
                    text-align: center;
                    margin-top: 65px;
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .modification-email-and-password{
        width: 90%;
        &__title{
            font-size: 23px;
        }
        &__btns{
            &__item{
                width: 90%;
                font-size: 20px;
            }
        }
        &__input{
            @include input;
            width: 260px;
            display: block;
            margin: 0 auto;
            &_password{
                @include input;
                width: 260px;
                padding: 3px 46px 3px 10px;
                display: block;
                margin: 0 auto;
            }
            &_show{
                position: absolute;
                right: 20px;
                top: 40px;
            }
        }
        &__warning{
            margin-left: 15px;
            line-height: 1;
        }
        &__message{
            font-size: 12px;
        }
        &__external-block{
            margin: 15px 0;
            &__label{
                width: 100%;
                font-size: 16px;
                text-align: center;
                margin: 10px 0;
            }
            &__btn{
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__modal-successfully{
            @include backgroundModal;
            &__window{
                position: relative;
                width: 250px;
                height: 130px;
                @include ModalWindow;
                background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
                box-shadow: 5px 10px 5px 3px #b5b59b;
                z-index: 2;
                &__close{
                    position: absolute;
                    right: 10px;
                }
                &__message{
                    text-align: center;
                    margin-top: 45px;
                    font-size: 16px;
                }
            }
        }
    }
}