@import '../../variables';
@import '../../mixins';

.user-notifications-list{
    width: 370px;
    height: 372px;
    display: block;
    position: absolute;
    z-index: 2;
    margin-top: 11px;
    top: 40px;
    overflow-y: auto;
    background-color: $background-color;
    box-shadow: 3px 2px 3px 3px #a7a7a7;
    border-radius: 10px;
    box-sizing: border-box;
    scrollbar-color: $background-color $main-color-light;
    scrollbar-width: thin ; 
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 100%;
        background-color: $background-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $main-color-light;
        border-radius: 4px;
        box-shadow: inset 1px 1px 3px $secondary-color-light;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: $main-color;
    }
    &::-webkit-scrollbar-button:vertical:start:decrement {
        background: linear-gradient(to right, $background-color, #a7a7a7);
        width: 1px;
        height: 3px;
    }
    &::-webkit-scrollbar-button:vertical:end:increment {
        width: 1px;
        height: 3px;
        background-color: $background-color-modal-shadow;
    }
    &__wrapper {
        padding: 10px;
        height: 100%;
    }
    &__list{
        padding: 0px 15px 0px 15px;
        &__item{
            margin: 15px 0;
            &__content{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                &__img{
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
                    object-fit: cover;
                }
                &__name{
                    display: flex;
                    flex-direction: column;
                    cursor: default;
                    width: 100%;
                    &_name{
                        display: flex;
                        justify-content: flex-start;
                        color: $main-color;
                        font-weight: 700;
                    }
                    &_message{
                        max-width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        margin: 7px 0;
                        font-weight: 600;
                    }
                }
            }
            &__time{
                display: flex;
                justify-content: flex-end;
                font-size: 10px;
                color: $background-color-modal-shadow;
            }
        }
    }
    &__spinner-wrapper{
        width: 355px;
        height: 350px;
        display: flex;
        align-items: center;
    }
    &__not-notifications{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        color: $secondary-color;
    }
}