@import '../../variables';
@import '../../mixins';

.friends-and-groups-list {
    width: 1140px;
    margin-top: 7px;

    &__wrapper-search {
        width: 100%;
    }

    &__search {
        @include input;
        display: block;
        margin: 10px auto;
        width: 550px;
    }

    &__wrapper-content {
        width: 100%;
    }

    &__total-size {
        margin-left: 15px;

        &_title {
            font-weight: 500;
            color: $main-color;
            font-size: 19px;
        }

        &_size {
            font-size: 19px;
        }
    }

    &__list {
        margin: 15px auto;
        padding: 0;
        width: 80%;

        &__item {
            margin: 15px;
            height: 200px;
            display: flex;
            box-shadow: 1px 1px 1px 1px $secondary-color-light;
            padding: 15px;
            border-radius: 20px;

            &:hover {
                transform: scale(1.02);
            }

            &_warning {
                margin: 15px;
                height: 200px;
                display: flex;
                background-color: rgba(167, 167, 167, .1);
                padding: 15px;
                border-radius: 20px;
                box-shadow: 3px 3px 3px 3px $background-color-modal-shadow;
            }

            &_confirmation {
                margin: 15px;
                height: 200px;
                display: flex;
                background-color: rgba(254, 249, 199, .8);
                padding: 15px;
                border-radius: 20px;
                box-shadow: 3px 3px 3px 3px $secondary-color;
            }

            &__img {
                width: 170px;
                height: 170px;
                border-radius: 100%;
                object-fit: cover;

                &:hover {
                    cursor: pointer;
                }
            }

            &__content {
                margin-left: 25px;
                width: 100%;
                position: relative;

                &_name {
                    display: block;
                    width: 650px;
                    height: 25px;
                    overflow: hidden;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                    font-size: 19px;
                    color: $main-color;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &_current-status {
                    display: flex;
                    justify-content: flex-end;
                    position: absolute;
                    width: 100%;

                    & span {
                        color: $background-color-modal-shadow;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 5px 7px;
                        background-color: $background-color;
                        border-radius: 5px;
                    }
                }

                &__btns {
                    display: flex;
                    align-items: flex-end;
                    height: 80%;

                    &_main {
                        @include btnMini;
                        border-color: $main-color-light;
                        margin-right: 15px;

                        &:hover {
                            background-color: rgba(137, 216, 194, .2);
                            border-color: $main-color-light;
                        }
                    }

                    &_danger {
                        @include btnMini;
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    &__not-content {
        width: 320px;
        height: 320px;
        margin: 0 auto;

        & img {
            width: 320px;
            height: 320px;
        }
    }

    &__overlay {
        @include backgroundModal;
    }

    &__modal {
        @include ModalWindow;
        width: 300px;
        height: 170px;

        &_close {
            position: relative;

            & img {
                position: absolute;
                left: 90%;

                &:hover {
                    transform: rotate(30deg) scale(1.1);
                }
            }
        }

        &_message {
            text-align: center;
            margin-top: 45px;
        }
    }
}

@media (max-width: 1200px) {
    .friends-and-groups-list {
        width: 993px;
        margin-top: 7px;

        &__wrapper-search {
            width: 100%;
        }

        &__search {
            @include input;
            width: 400px;
            height: 40px;
        }

        &__wrapper-content {
            width: 100%;
        }

        &__total-size {
            margin-left: 15px;

            &_title {
                font-size: 18px;
            }

            &_size {
                font-size: 18px;
            }
        }

        &__list {
            &__item {
                margin: 15px;
                height: 180px;
                padding: 15px;

                &_warning {
                    margin: 15px;
                    height: 180px;
                    padding: 15px;
                }

                &_confirmation {
                    margin: 15px;
                    height: 180px;
                    padding: 15px;
                }

                &__img {
                    width: 150px;
                    height: 150px;
                }

                &__content {
                    margin-left: 25px;
                    width: 100%;
                    position: relative;

                    &_name {
                        width: 550px;
                        font-size: 18px;
                    }

                    &_current-status {
                        & span {
                            font-size: 16px;
                            padding: 5px 7px;
                        }
                    }

                    &__btns {
                        &_main {
                            @include btnMini;
                            border-color: $main-color-light;
                            margin-right: 15px;

                            &:hover {
                                background-color: rgba(137, 216, 194, .2);
                                border-color: $main-color-light;
                            }
                        }

                        &_danger {
                            @include btnMini;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        &__not-content {
            width: 280px;
            height: 280px;
            margin: 0 auto;

            & img {
                width: 280px;
                height: 280px;
            }
        }

        &__overlay {
            @include backgroundModal;
        }

        &__modal {
            @include ModalWindow;
            width: 300px;
            height: 170px;

            &_close {
                position: relative;

                & img {
                    position: absolute;
                    left: 90%;

                    &:hover {
                        transform: rotate(30deg) scale(1.1);
                    }
                }
            }

            &_message {
                text-align: center;
                margin-top: 45px;
            }
        }
    }
}


@media (max-width: 992px) {
    .friends-and-groups-list {
        width: 769px;
        margin-top: 7px;

        &__wrapper-search {
            width: 100%;
        }

        &__search {
            @include input;
            width: 400px;
            height: 40px;
        }

        &__wrapper-content {
            width: 100%;
        }

        &__total-size {
            margin-left: 15px;

            &_title {
                font-size: 17px;
            }

            &_size {
                font-size: 17px;
            }
        }

        &__list {
            &__item {
                margin: 15px;
                height: 180px;
                padding: 15px;

                &_warning {
                    margin: 15px;
                    height: 180px;
                    padding: 15px;
                }

                &_confirmation {
                    margin: 15px;
                    height: 180px;
                    padding: 15px;
                }

                &__img {
                    width: 150px;
                    height: 150px;
                }

                &__content {
                    margin-left: 25px;
                    width: 100%;
                    position: relative;

                    &_name {
                        width: 380px;
                        font-size: 18px;
                    }

                    &_current-status {
                        & span {
                            font-size: 16px;
                            padding: 5px 7px;
                        }
                    }

                    &__btns {
                        &_main {
                            @include btnMini;
                            border-color: $main-color-light;
                            margin-right: 15px;

                            &:hover {
                                background-color: rgba(137, 216, 194, .2);
                                border-color: $main-color-light;
                            }
                        }

                        &_danger {
                            @include btnMini;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        &__not-content {
            width: 280px;
            height: 280px;
            margin: 0 auto;

            & img {
                width: 280px;
                height: 280px;
            }
        }

        &__overlay {
            @include backgroundModal;
        }

        &__modal {
            @include ModalWindow;
            width: 300px;
            height: 170px;

            &_close {
                position: relative;

                & img {
                    position: absolute;
                    left: 90%;

                    &:hover {
                        transform: rotate(30deg) scale(1.1);
                    }
                }
            }

            &_message {
                text-align: center;
                margin-top: 45px;
            }
        }
    }
}

@media (max-width: 768px) {
    .friends-and-groups-list {
        width: 577px;
        margin-top: 7px;

        &__wrapper-search {
            width: 100%;
        }

        &__search {
            @include input;
            width: 350px;
            height: 35px;
        }

        &__wrapper-content {
            width: 100%;
        }

        &__total-size {
            margin-left: 15px;

            &_title {
                font-size: 17px;
            }

            &_size {
                font-size: 17px;
            }
        }

        &__list {
            width: 90%;
            margin: 15px auto;

            &__item {
                margin: 15px;
                height: 160px;
                padding: 10px;

                &_warning {
                    margin: 15px;
                    height: 160px;
                    padding: 15px;
                }

                &_confirmation {
                    margin: 15px;
                    height: 160px;
                    padding: 15px;
                }

                &__img {
                    width: 130px;
                    height: 130px;
                }

                &__content {
                    margin-left: 10px;
                    width: 100%;
                    position: relative;

                    &_name {
                        width: 320px;
                        font-size: 17px;
                    }

                    &_current-status {
                        & span {
                            font-size: 16px;
                            padding: 5px 7px;
                        }
                    }

                    &__btns {
                        &_main {
                            @include btnMini;
                            border-color: $main-color-light;
                            margin-right: 15px;

                            &:hover {
                                background-color: rgba(137, 216, 194, .2);
                                border-color: $main-color-light;
                            }
                        }

                        &_danger {
                            @include btnMini;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        &__not-content {
            width: 230px;
            height: 230px;
            margin: 0 auto;

            & img {
                width: 230px;
                height: 230px;
            }
        }

        &__overlay {
            @include backgroundModal;
        }

        &__modal {
            @include ModalWindow;
            width: 300px;
            height: 170px;

            &_close {
                position: relative;

                & img {
                    position: absolute;
                    left: 90%;

                    &:hover {
                        transform: rotate(30deg) scale(1.1);
                    }
                }
            }

            &_message {
                text-align: center;
                margin-top: 45px;
            }
        }
    }
}

@media (max-width: 576px) {
    .friends-and-groups-list {
        width: 320px;
        margin-top: 7px;

        &__wrapper-search {
            width: 100%;
        }

        &__search {
            @include input;
            width: 200px;
            height: 35px;
        }

        &__wrapper-content {
            width: 100%;
        }

        &__total-size {
            margin-left: 15px;

            &_title {
                font-size: 15px;
            }

            &_size {
                font-size: 15px;
            }
        }

        &__list {
            width: 90%;
            margin: 15px auto;

            &__item {
                margin: 15px;
                height: 120px;
                padding: 5px;

                &_warning {
                    margin: 15px;
                    height: 160px;
                    padding: 15px;
                }

                &_confirmation {
                    margin: 15px;
                    height: 160px;
                    padding: 15px;
                }

                &__img {
                    width: 100px;
                    height: 100px;
                }

                &__content {
                    margin-left: 10px;
                    width: 100%;
                    position: relative;

                    &_name {
                        height: 15px;
                        font-size: 9px;
                        width: 120px;
                        overflow: hidden;
                        display: block;
                        text-align: center;
                    }

                    &_current-status {
                        justify-content: center;

                        & span {
                            font-size: 8px;
                            padding: 0;
                        }
                    }

                    &__btns {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        justify-content: center;

                        &_main {
                            @include btnMini;
                            border-color: $main-color-light;
                            height: 24px;
                            margin: 3px;

                            &:hover {
                                background-color: rgba(137, 216, 194, .2);
                                border-color: $main-color-light;
                            }
                        }

                        &_danger {
                            @include btnMini;
                            height: 24px;
                            margin: 3px;
                        }
                    }
                }
            }
        }

        &__not-content {
            width: 200px;
            height: 200px;
            margin: 0 auto;

            & img {
                width: 200px;
                height: 200px;
            }
        }

        &__overlay {
            @include backgroundModal;
        }

        &__modal {
            @include ModalWindow;
            width: 300px;
            height: 170px;

            &_close {
                position: relative;

                & img {
                    position: absolute;
                    left: 90%;

                    &:hover {
                        transform: rotate(30deg) scale(1.1);
                    }
                }
            }

            &_message {
                text-align: center;
                margin-top: 45px;
            }
        }
    }
}