@import '../../variables';
@import '../../mixins';

.header-search-form {
    &__wrapper {
        position: relative;

        & ul {
            padding: 0px;

            &:hover {
                cursor: default;
            }
        }

        &__button {
            width: 18px;
            height: 18px;
            position: absolute;
            right: 5px;
            top: 2px;
            cursor: pointer;

            & img {
                width: 18px;
                height: 18px;
            }
        }

        &__search {
            @include input;
            height: 30px;
            margin-top: 0px;
            padding: 3px 28px 3px 10px;
        }

        &__list {
            position: absolute;
            visibility: hidden;
            width: 320px;
            box-shadow: 2px 2px 3px 3px #a7a7a7;
            border-radius: 10px;
            opacity: 0;
            background-color: $background-color;
            padding: 10px 20px 0px 20px;
            margin-top: 6px;

            &__item {
                list-style-type: none;
                height: 50px;
                display: flex;
                justify-content: center;
                padding: 8px 10px;

                &:nth-last-child(1) {
                    margin-bottom: 10px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $main-color-light;
                    border-radius: 8px;
                }

                &__img {
                    width: 35px;
                    height: 35px;

                    & img {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                }

                &__name {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    margin-left: 10px;
                }
            }

            &__null {
                list-style-type: none;
                height: 50px;
                padding: 8px 10px;
                text-align: center;
                color: $secondary-color;
            }
        }
    }

    &__title {
        margin: 5px 0;
        color: #026670;
        font-size: 18px;
        font-weight: 600;
        display: block;
    }
}

.active-header-search-list {
    visibility: visible;
    opacity: 1;
    transition: visibility, opacity, 1s all;
    z-index: 4;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .header-search-form {
        &__wrapper {
            &__button {
                width: 15px;
                height: 15px;
                top: 3px;

                & img {
                    width: 15px;
                    height: 15px;
                }
            }

            &__search {
                @include input;
                width: 270px;
                height: 30px;
                margin-top: 0px;
                padding: 5px 25px 5px 7px;
                font-size: 12px;
            }

            &__list {
                width: 270px;

                &__item {
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    padding: 5px 7px;

                    &__img {
                        width: 33px;
                        height: 33px;

                        & img {
                            width: 33px;
                            height: 33px;
                        }
                    }

                    &__name {
                        margin-left: 10px;
                        font-size: 15px;
                    }
                }
            }
        }

        &__title {
            margin: 5px 0;
            font-size: 17px;
        }
    }
}

@media (max-width: 768px) {
    .header-search-form {
        width: 35px;
        height: 35px;
        margin: 0 8px 0 8px;

        &__wrapper {
            width: 35px;
            height: 35px;

            &__button {
                width: 35px;
                height: 35px;
                top: -1px;

                & img {
                    width: 35px;
                    height: 35px;
                }
            }

            &__search {
                display: none;
            }

            &__list {
                display: none;
            }
        }

        &__title {
            margin: 3px 0;
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .header-search-form {
        margin: 0 10px 0 10px;

        &__wrapper {
            width: 35px;
            height: 35px;

            &__button {
                width: 35px;
                height: 35px;
                top: -1px;

                & img {
                    width: 35px;
                    height: 35px;
                }
            }

            &__search {
                display: none;
            }

            &__list {
                display: none;
            }
        }
    }
}