@import '../../variables';
@import '../../mixins';

.profile{
    width: 100%;
    display: grid;
    grid-template-columns: 400px 700px;
    column-gap: 40px;
    &__photo{
        margin-top: 10px;
        margin-bottom: 60px;
        grid-column: 1;
        width: 400px;
        background: rgba(254, 249, 199, .3);
    }
    &__information{
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 30px;
        margin-top: 10px;
        &__data{
            grid-row: 1;
            min-height: 200px;
            background: rgba(254, 249, 199, .3);
        }
        &__photos{
            position: relative;
            grid-row: 2;
            width: 100%;
            height: 450px;
            background: rgba(254, 249, 199, .3);
        }
        &__public-messages{
            grid-row: 3;
            width: 100%;
            background: rgba(254, 249, 199, .3);
            margin: 0 auto;
            min-height: 200px;
            &_not-access{
                margin: 0 auto;
                margin-top: 60px;
                margin-bottom: 30px;
                width: 80%;
                padding: 0 15px;
                text-align: center;
                font-size: 30px;
                font-weight: 500;
                color: #FDD544;
            }
        }
    }
    
}




