@keyframes logoAnimation {
    from {
        transform: scale(0.8) skewX(0deg) rotate(0deg);
    }

    25% {
        transform: scale(1)skewX(15deg) rotate(30deg);
    }

    50% {
        transform: scale(0.8) skewX(0deg) rotate(0deg);
    }

    75% {
        transform: scale(1)skewX(-15deg) rotate(-30deg);
    }

    to {
        transform: scale(0.8) skewX(0deg) rotate(0deg);
    }
}