@import '../../variables';
@import './animation';
@import '../../mixins';

.label{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    &__text{
        position: absolute;
        font-size: 20px;
        font-family: Raleway;
        font-weight: 500;
        margin-left: 75px;
        color: $main-color;
        margin-top: 45px;
    }
    &__icon{
        width: 70px;
        height: 60px;
        &__animation{
            animation: logoAnimation 8s ease infinite;
        }
        
    }
}

.login-page{
    position: relative;
    width: 350px;
    margin: 15px auto;
    padding: 20px;
    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & div{
            display: flex;
        }
        &__input{ 
            @include input;
            &__password{
                @include input;
                padding: 3px 46px 3px 10px;
            }
            &__show{
                @include inputShowPassword;
            }
            
        }
        &__remmember-me{
            margin: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            &__input{
                position: absolute;
                z-index: -1;
                opacity: 0;
                &+label{
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid $main-color-light;
                        border-radius: 30%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 80% 80%;
                        margin-left: 10px;
                        transition: 0.5s all;
                    }
                    &:hover::after {
                        border-color: $main-color;
                        box-shadow: 0.5px 0.5px 0.5px 0.5px $main-color;
                    }
                }
                &:checked+label::after{
                    border-color: $main-color;
                    box-shadow: 0.5px 0.5px 0.5px 0.5px $main-color;
                    background-image: url('./check.svg')
                }
            }
            &__label{
                margin-right: 10px;
                color: $input-text;
                font-size: 20px;
                font-family: Raleway;
                font-weight: 600;
            }
        }
        &__submit{
            @include inputButton;
        }
    }
    &__offer-to-registration{
        &__question{
            margin: 25px 0 15px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: $input-text;
            & hr{
                width: 50px;
                height: 2px;
                border: none;
                color: $main-color;
                background-color: $main-color;
            }
        }
        &__button{
            @include inputButton;
        }
    }
}


.error-window-login{
    font-family: Raleway;
    font-weight: 500;
    color: $input-text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    display: flex;
    align-items: center;
    & img{
        width: 25px;
        height: 25px;
    }
}

.passwordRequirements{
    height: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: $input-text;
    font-size: 10px;
    &_null{
        height: 40px;
    }
}

.registration-successfully{
    @include backgroundModal;
    &__modal{
        width: 300px;
        height: 170px;
        @include ModalWindow;
        background: radial-gradient(at 25% 85%, $secondary-color, $main-color-light, $background-color);
        box-shadow: 5px 10px 5px 3px #b5b59b;
        z-index: 2;
        &__wrapper{
            position: relative;
            width: 100%;
            margin-top: 40px;
        }
        &__close{
            display: inline-block;
            position: absolute;
            right: 0;
            top: -40px;
            & img{
                transition: 0.5s all;
                &:hover{
                    border-radius: 100%;
                    transform: rotate(30deg) scale(1.2);
                }
            }
        }
        &__message {
            width: 100%;
            width: 80%;
            margin: 15px auto;
            text-align: center;
        }
    }
}


@media (max-width: 1200px){
    .label{
        margin-left: 20px;
    }

    .passwordRequirements{
        &_null{
            height: 20px;
        }
    }

    .login-page{
        &__form{
            &__remmember-me{
                margin: 10px;
            }
        }
    }


}

@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){
    .login-page{
        width: 300px;
        margin: 15px auto;
        padding: 5px;
        &__form{
            &__input{ 
                @include input;
                width: 280px;
                &__password{
                    @include input;
                    width: 280px;
                    padding: 3px 46px 3px 10px;
                }
            }
            &__submit{
                @include inputButton;
                width: 95%;
            }
        }
        &__offer-to-registration{
            &__button{
                @include inputButton;
                width: 95%;
                margin: 0 10px;
            }
        }
    }

    .passwordRequirements{
        margin: 0 10px;
    }


    .registration-successfully{
        &__modal{
            width: 230px;
            height: 150px;
            &__wrapper{
                margin-top: 35px;
            }
            &__message {
                width: 80%;
                font-size: 12px;
            }
        }
    }

    .label{
        &__text{
            margin-top: 15px;
        }
    }
}
    
// @media (max-width: 1200px);
// @media (max-width: 992px);
// @media (max-width: 768px);
// @media (max-width: 576px);