@import '../../variables';
@import '../../mixins';

.registration-window{
    &__modal {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            text-align: center;
            color: $input-text;
            margin-bottom: 15px;
        }
        &_wrapper-password{
            display:flex;
        }
        &__input{
            @include input;
            &_password{
                @include input;
                padding: 3px 46px 3px 10px;
            }
            &_show{
                @include inputShowPassword;
            }
        }
        &__btn{
           @include inputButton;
           margin-top: 15px;
        }
    }
}

