@import '../../variables';
@import '../../mixins';

.registration-window{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: 1s all;
    background-color: $background-color-modal;
    z-index: 1;
    &__modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        padding: 17px 17px 25px 17px;
        border-radius: 10px;
        background-color: $background-color;
        &__title{
            text-align: center;
            color: $input-text;
            margin-bottom: 15px;
        }
        &__close{
            display: block;
            text-align: end;
            &__img{
                transition: 0.5s all;
                &:hover{
                    border-radius: 100%;
                    transform: rotate(30deg) scale(1.2);
                }
            }
        }
        &_wrapper-password{
            display:flex;
        }
        &__input{
            @include input;
            padding: 3px 46px 3px 10px;
            &_show{
                @include inputShowPassword;
            }
        }
        &__btn{
           @include inputButton;
           margin-top: 15px;
        }
    }
}

.passwordRequirements{
    height: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: $input-text;
    font-size: 10px;
    &_null{
        height: 40px;
    }
}
