@import '../../variables';
@import '../../mixins';

.modal-window-for-opton-main-photo {
    position: absolute;
    background: $background-color-modal;
    width: 340px;
    height: 150px;
    z-index: 2;
    transform: translateY(-102%);
    padding: 20px;
    border-radius: 5px;
    top: 100%;

    &__input-file {
        &__input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }

    &__wrapper {
        &__btn {
            display: flex;
            justify-content: space-around;
            margin-top: 35px;
        }

        &__input-file {
            width: 200px;
            height: 35px;
            background-color: $main-color-light;
            border-radius: 10px;
            position: relative;
            margin: 10px auto;

            &:hover {
                transform: scale(1.1);
            }

            &__label {
                padding: 5px 10px;
                display: flex;
                justify-content: start;
                align-items: center;

                &_img {
                    width: 30px;
                    height: 30px;
                    display: block;

                    & img {
                        width: 20px;
                        height: 20px;
                        margin: 5px 3px;
                    }
                }

                &_name {
                    display: block;
                    margin-left: 15px;
                    margin-bottom: 5px;
                    color: $main-color;
                    font-weight: 600;
                }

                &_border {
                    width: 1px;
                    height: 25px;
                    background-color: $background-color-modal;
                    margin-left: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    &__btn {
        padding: 5px;
        width: 130px;
        border-radius: 10px;
        color: $input-text;
        font-size: 13px;
        background: rgba(243, 246, 220, 0.3);
        border: 2.5px solid $secondary-color;

        &:hover {
            background: $secondary-color-light;
            transform: scale(1.1);
        }
    }

    &__cancel {
        position: relative;

        & img {
            position: absolute;
            left: 93%;
            top: -8px;

            &:hover {
                transform: rotate(30deg) scale(1.1);
            }
        }
    }

    &__text {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        overflow-x: hidden;
        line-height: 25px;
        text-overflow: ellipsis;

        &_final {
            margin-top: 35px;
            text-align: center
        }
    }

    &__invalid-file {
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_text {
            font-size: 12px;
            font-weight: 500;
        }
    }
}

@media (max-width: 1200px) {
    .modal-window-for-opton-main-photo {
        width: 235px;
        height: 120px;
        padding: 10px;
        transform: translateY(-100%);

        &__input-file {
            &__input {
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
        }

        &__wrapper {
            &__btn {
                margin-top: 20px;
            }

            &__input-file {
                width: 160px;
                height: 30px;
                margin: 5px auto;

                &__label {
                    padding: 5px 10px;

                    &_img {
                        & img {
                            width: 18px;
                            height: 18px;
                            margin: 0 3px 5px;
                        }
                    }

                    &_name {
                        margin-left: 10px;
                        margin-bottom: 8px;
                        font-size: 12px;
                    }

                    &_border {
                        width: 1px;
                        height: 20px;
                        margin-left: 5px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &__btn {
            padding: 5px;
            width: 100px;
            font-size: 10px;
        }

        &__cancel {
            position: relative;

            & img {
                left: 89%;
                top: -6px;
            }
        }

        &__text {
            font-size: 15px;

            &_final {
                margin-top: 32px;
                text-align: center
            }
        }

        &__invalid-file {
            height: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_text {
                font-size: 9px;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal-window-for-opton-main-photo {
        position: absolute;
        background: $background-color-modal;
        width: 320px;
        height: 150px;

        &__input-file {
            &__input {
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
        }

        &__wrapper {
            &__btn {
                display: flex;
                justify-content: space-around;
                margin-top: 40px;
            }

            &__input-file {
                width: 200px;
                height: 35px;
                background-color: $main-color-light;
                border-radius: 10px;
                position: relative;
                margin: 10px auto;

                &:hover {
                    transform: scale(1.1);
                }

                &__label {
                    padding: 5px 10px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    &_img {
                        width: 30px;
                        height: 30px;
                        display: block;

                        & img {
                            width: 20px;
                            height: 20px;
                            margin: 5px 3px;
                        }
                    }

                    &_name {
                        font-size: 14px;
                        margin-left: 15px;
                        margin-bottom: 5px;
                    }

                    &_border {
                        width: 1px;
                        height: 25px;
                        background-color: $background-color-modal;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &__btn {
            padding: 5px;
            width: 152px;
            margin: 0 5px;
            font-size: 13px;
        }

        &__cancel {
            position: relative;

            & img {
                position: absolute;
                left: 90%;
                top: -4px;

                &:hover {
                    transform: rotate(30deg) scale(1.1);
                }
            }
        }

        &__text {
            font-size: 17px;

            &_final {
                margin-top: 35px;
                text-align: center
            }
        }

        &__invalid-file {
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_text {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 768px) {
    .modal-window-for-opton-main-photo {
        width: 290px;
    }
}

@media (max-width: 576px) {
    .modal-window-for-opton-main-photo {
        width: 220px;
        height: 120px;
        padding: 5px;

        &__input-file {
            &__input {
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
        }

        &__wrapper {
            &__btn {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
            }

            &__input-file {
                width: 153px;
                height: 30px;
                margin: 10px auto;

                &__label {
                    padding: 5px 7px;

                    &_img {
                        width: 17px;
                        height: 17px;

                        & img {
                            width: 27px;
                            height: 17px;
                            margin: -6px -2px 5px;
                        }
                    }

                    &_name {
                        display: block;
                        margin-left: 10px;
                        margin-bottom: 7px;
                        color: #026670;
                        font-weight: 600;
                        font-size: 13px;
                    }

                    &_border {
                        width: 1px;
                        height: 20px;
                        background-color: $background-color-modal;
                        margin-left: 10px;
                        margin-bottom: 2px;
                    }
                }
            }
        }

        &__btn {
            padding: 5px;
            width: 110px;
            font-size: 10px;

            &:hover {
                background: $secondary-color-light;
                transform: scale(1.1);
            }
        }

        &__cancel {
            position: relative;

            & img {
                position: absolute;
                left: 86%;
                top: -2px;

                &:hover {
                    transform: rotate(30deg) scale(1.1);
                }
            }
        }

        &__text {
            font-size: 11px;

            &_final {
                margin-top: 25px;
                text-align: center;
                font-size: 13px;
            }
        }

        &__invalid-file {
            height: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_text {
                font-size: 9px;
                font-weight: 500;
            }
        }
    }
}