.profile_name {
    max-width: 300px;
    min-height: 50px;
}

.profile_information_title {
    width: 200px;
    height: 50px;
}

.profile_information__birthday {
    width: 100px;
}

.profile_editing {
    width: 100px;
}