
$input-text: black;
$main-color: #026670;
$main-color-light: #89d8c2;
$secondary-color: #FDD544;
$secondary-color-light: #fef9c7;
$background-color: #f3f6dc;
$background-color-modal: rgba(243, 246, 220, 0.8);
$background-color-modal-shadow: #a7a7a7;

