$input-text: black;
$main-color: #026670;
$main-color-light: #89d8c2;
$secondary-color: #FFA420;
$secondary-color-light: #FDEAA8;
$background-color: #fff;
$background-color-modal: rgba(243, 246, 220, 0.8);
$background-color-modal-shadow: #a7a7a7;