@import './variables';

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  & input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active
    {
      box-shadow: white;
      -webkit-box-shadow:  0 0 0 30px white inset !important;;
    }
    input:-webkit-autofill
      {
        -webkit-text-fill-color: $input-text !important;
      }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./light-veneer.jpg");
}



// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
