.myGroups {
    width: 1140px;
    border-left: groove 2px blue;
    border-right: groove 2px blue;
}

.myGroups_list {
    margin: 15px;
}

.myGroups_item {
    margin: 15px;
    height: 200px;
    display: flex;
}

.myGroups_item_wrapper_img{
    width: 200px;
    height: 200px;
   
}

.myGroups_item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}