.participantsGroupList{
    width: 100%;
    border-left: groove 2px blue;
    border-right: groove 2px blue;
}

.participantsGroupList_list{
    margin: 15px;
    display: flex;
    padding: 0px;
}

.participantsGroupList_item {
    margin: 15px;
    height: 200px;
    display: flex;
}

.participantsGroupList__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.participantsGroupList_img {
    width: 200px;
    height: 200px;
    border-radius: 0%;
}