@import '../../variables';
@import '../../mixins';

.group{
    width: 100%;
    display: grid;
    grid-template-columns: 700px 400px;
    grid-template-rows: 100%;
    column-gap: 40px;
    &__photo-and-btns{
        margin-top: 10px;
        margin-bottom: 60px;
        grid-column: 2;
        grid-row: 1;
        width: 400px;
        background: rgba(254, 249, 199, .3);
        &__wrapper{
            position: fixed;
        }
        &__photo{
            width: 368px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12px 19px 0 19px;
            border-radius: 5px;
            z-index: 2;
            box-shadow: 0 0 5px 2px $secondary-color;
            // position: fixed;
            &__wrapper{
                width: 350px;
                height: 330px;
                position: relative;
                border: 5px double $secondary-color;
                z-index: 2;
                border-radius: 5px;
            }
            &__photo-group{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__btns{
            display: flex;
            // position: fixed;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            min-height: 150px;
            &_actions{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 160px;
                & button{
                    margin: 12px 0;
                    @include btnMini;
                }
            }
            &__navigation{
                width: 160px;
                display:flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                &__wrapper{
                    width: 40px;
                    height: 40px;
                    padding: 0 5px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        .group__photo-and-btns__btns__navigation__item__label{
                            display: block;
                            &__count{
                                position: absolute;
                                color: $secondary-color;
                                margin-top: 12px;
                                margin-left: -35px;
                            }
                        }
                        .group__photo-and-btns__btns__navigation__item{
                            display:none;
                        }
                        .group__photo-and-btns__btns__navigation__item__count{
                            display:none;
                        }
                    }
                    & a{
                        text-decoration: none;
                    }
                }
                &__item{
                    width: 25px;
                    height: 25px;
                    display:block;
                    cursor: pointer;
                    margin: auto;
                    &__label{
                        display:none;
                        color: $main-color;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 5px;
                    }
                    &__count{
                        position: absolute;
                        color: $secondary-color;
                        font-weight: 800;
                        margin-top: -28px;
                        margin-left: 23px;
                        font-size: 15px;
                    }
                }
                &__main-btn{
                    display:block;
                    margin: 12px 0;
                    padding: 5px 3px;
                    width: 152px;
                    height: 30px;
                    border-radius: 10px;
                    color: $input-text;
                    font-size: 13px;
                    background: rgba(254, 249, 199, 0.3);
                    border: 2.5px solid $secondary-color;
                }
                &:hover{
                    .group__photo-and-btns__btns__navigation__main-btn{
                        display:none;
                    }
                    .group__photo-and-btns__btns__navigation__menu{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
                        opacity: 1;
                    }
                }
                &__menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 160px;
                    display: none;
                    opacity: 0;
                    transition: 1s display opacity;
                }
            }
        }
        
    }
    &__information{
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-rows: auto 250px auto;
        row-gap: 30px;
        margin-top: 10px;
        &__data{
            grid-row: 1;
            min-height: 200px;
            background: rgba(254, 249, 199, .3);
            &__modification{
                &__wrapper{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 5px;
                    margin-top: 7px;
                }
                &__btn{
                    @include btnMini;
                }
            }
            &__content{
                width: 100%;
                margin: 10px 0;
                font-size: 17px;
                font-weight: 600;
                color: $main-color;
                &:first-child{
                    & span{
                        font-size: 19px;
                        word-wrap: break-word;
                    }
                }
                & span{
                    color: $input-text;
                }
                &_description{
                    display: flex;
                    width: 100%;
                    margin: 10px 0;
                    font-size: 17px;
                    font-weight: 600;
                    color: $main-color;
                    & span{
                        color: $input-text;
                        width: 550px;
                        word-wrap: break-word;
                    }
                    & div{
                        width: 88px;
                    }
                }
                &_admin{
                    width: 100%;
                    margin: 10px 0;
                    font-size: 17px;
                    font-weight: 600;
                    color: $main-color;
                    & span{
                        color: $input-text;
                        &:hover{
                            cursor: pointer;
                            color: $secondary-color;
                        }
                    }
                    
                }
                &__wrapper{
                    margin: 15px 15px 15px 15px;
                    width: 640px;
                    overflow: hidden;
                }
            }
        }
        &__participants{
            grid-row: 2;
            background: rgba(254, 249, 199, .3);
            padding: 15px;
            &__list{
                &_mini{
                    width: 100%;
                    background: rgba(254, 249, 199, .01);
                    padding: 0;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 15px;
                }
                &__item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & img{
                        display: block;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                    & span{
                        width: 100px;
                        height: 40px;
                        word-wrap: break-word;
                        overflow: hidden;
                        display: block;
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                        color:$input-text;

                    }
                    & a{
                        text-decoration: none;
                    }
                }
            }
            &__count-and-btn{
                position: relative;
                &_count{
                    color:$main-color;
                    font-weight: 600;
                    font-size: 17;
                    & span{
                        font-weight: 500;
                        font-size: 17;
                        color:$input-text;
                    }
                }
                &_btn{
                    position: absolute;
                    right: -10px;
                    top: -7px;
                    @include btnMini;
                }
            }
        }
        &__posts{
            grid-row: 3;
            width: 100%;
            background: rgba(254, 249, 199, .3);
            margin: 0 auto;
            min-height: 200px;
            &_not-access{
                margin: 0 auto;
                margin-top: 60px;
                margin-bottom: 30px;
                width: 80%;
                padding: 0 15px;
                text-align: center;
                font-size: 30px;
                font-weight: 500;
                color: #FDD544;
            }
        }
    }
}



